@using Microsoft.AspNetCore.Http;
@model IEnumerable<Mensagem>    
@using PI_SITE.Models
@{
    ViewData["Title"] = "ListaMensagem";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="homet">
                <img src="~/images/banner-contato.jpg">
            </div>  
        </div>
    </div>
</div>

<section class="Menssagem">
    <div class="container" id="title_menssagem">
        <div class="row">
            <div class="col" id="menssagem">
                <div class ="prod-col-1 text-center"><br>
                    <h3 class="display-4">Mensagens</h3>
                </div>

        @if (Model.Count() != 0){

        //Apresentar Lista de Usuarios!
<div class="container" id="tabela_Lista_Menssagem">
    <div class="row">
        <div class="col">    
            <table class="table table-dark">
                <thead>
                    <tr class="container text-center">
                        <strong>
                            <th scope="col-1">Cod</th>
                            <th scope="col-2">Nome</th>
                            <th scope="col-2">Email</th>
                            <th scope="col-1">Assunto</th>
                            <th scope="col-4" >Message</th>
                            @if(Context.Session.GetString("Conta") == "Administrador" )
                            {
                                <th scope="col-2">Ação</th>
                            }
                                
                        </strong>
                    </tr>
                </thead>

                <tbody>
                            
                        @foreach (Mensagem item in Model)
                        {
                            <tr  class="container text-center" >
                                <td>@item.Id</td>
                                <td>@item.Nome</td>
                                <td>@item.Email</td>
                                <td>@item.Assunto</td>
                                <div id="div2"><td>@item.Message</td></div>
                                @if(Context.Session.GetString("Conta") == "Administrador" )
                                {
                                    <td id="botao_btn_messangem">
                                        <div class="container" id="btn_Lista_Menssagem_Deletar">
                                            <a class="btn btn-outline-danger"  asp-controller="Mensagem" asp-action="DeletarMensagem" asp-route-Id="@item.Id">Remover</a>
                                        </div>
                                    </td>
                                }               
                            </tr>
                        }
                </tbody>
   
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

    }else{
        <div class="container">
            <div class="row">
                <div class="col">
                    <b><h2 class="container text-center">A Caixa de entrada estiver vazia!!!</h2></b>
                </div>
            </div>
        </div>
    }

</section>