@model IEnumerable<Usuario>
@using PI_SITE.Models

@{
    ViewData["Title"] = "ListaUsuario";
}

<div class="homet">
    <img src="~/images/banner-usuarios.png" width="100%">
</div><br>  

@if (Model.Count() != 0){

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container text-center" id="Title_Lista_Usuario">
                <h3 class="display-4">Lista de Usários</h3>
            </div>
        </div>
    </div>
</div>

<div class="btn2" id="Cad_N_Usuario"><p  class="container text-center">
    <a href="/Usuario/CadastroUsuario" class="btn btn-outline-dark" >Cadastrar Novo Usuário</a></p>
</div>

<div class="container" id="tabela_Lista_Usuario">
    <div class="row">
        <div class="col">
            <table class="table table-dark table-sm">
                <div class="row">
                <thead>
                    <tr>
                        <strong>
                            <th scope="col-1">Cod</th>
                            <th scope="col-1">Nome</th>
                            <th scope="col-1">Data de Nascimento</th>
                            <th scope="col-1">Contato</th>
                            <th scope="col-1">Email</th>
                            <th scope="col-1">Login</th>
                            <th scope="col-1">Senha</th>
                            <th scope="col-1">Conta</th>
                            <th scope="col-4">Ação</th>
                        </strong>
                    </tr>
                </thead>

                <tbody>
                    
                    @foreach (Usuario item in Model)
                    {
                            <tr  class="container text-center">
                                <td>@item.Id.ToString("D2")</td>
                                <td>@item.Nome</td>
                                <td>@item.DataNascimento.ToString("dd/MM/yyyy")</td>
                                <td>@item.Contato.ToString("## ##### ####")</td>
                                <td>@item.Email</td>
                                <td>@item.Login</td>
                                <td>@item.Senha</td>
                                <td>@item.Conta</td>
                                <td id="botao_btn">
                                  <div class="container">
                                    <a class="btn btn-outline-warning" id="btn_Lista_Usuario_Editar" asp-controller="Usuario" asp-action="EditarCadastro" asp-route-Id="@item.Id">Editar</a>   
                                    <a class="btn btn-outline-danger" id="btn_Lista_Usuario_Deletar" asp-controller="Usuario" asp-action="DeletarUsuario" asp-route-Id="@item.Id">Deletar</a>
                                  </div>   
                                </td>
                                    
                            </tr>
                        }
                </tbody>

                
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
                </div>
            </table>
        </div>
    </div>
</div>

}else{
    <b><h2 class="container text-center">Não existem Usuários Cadastrados!</h2></b>
    <div class="btn2"><p  class="container text-center"><a href="/Usuario/CadastroUsuario" class="btn btn-outline-dark" >Cadastrar Usuário</a></p></div>
        }